<%- include("partials/header.ejs") %>

<div class="container-fluid about-top">
  <h1>About Us</h1>
</div>
<div class="container-fluid about-middle">
  <div class="about-description">
    <h3>We are "Team-mCart".</h3>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img class="avatar" src="/images/about/shahriar.png" alt="shahriar" />
      <h5>S. M. Shahriar</h5>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img class="avatar" src="/images/about/numan.png" alt="numan" />
      <h5>Abdullah Al Numan</h5>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img class="avatar" src="/images/about/sumaiya.png" alt="sumaiya" />
      <h5>Umme Sumaiya Habiba</h5>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
