<%- include("partials/header.ejs") %>

<div class="container-fluid about-top">
  <h1>Contact Us</h1>
</div>

<!-- Contact Form -->

<div class="container-fluid contact-container">
  <div>
    <p>
      For any query please call us @ +8801XXXXXXXXX or send us an email.
    </p>
    <a class="btn btn-dark" href="mailto:helpline@email.com">Send Email</a>
  </div>
</div>

<%- include("partials/footer.ejs") %>
