<%- include("partials/header.ejs") %>

<div class="container-fluid container-fs">
  <h1>
    Something went wrong! Please try again or contact us.
  </h1>
</div>

<%- include("partials/footer.ejs") %>
