<%- include("partials/header.ejs") %>

<div class="container-fuid text-center m-5">
  <div class="m-3">
    <i class="fas fa-check-circle fa-7x" style="color: seagreen;"></i>
  </div>
  <div>
    <h4 class="m-3">Your Order Placed Successfully!</h4>
  </div>
  <a href="/account" class="btn btn-outline-success">Go to Orders</a>
</div>

<%- include("partials/footer.ejs") %>
