/* Global */
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.btn-dark:hover {
  background-color: #00adb5;
}

.container-fluid {
  padding: 0% 15% 0%;
}

/* Home Page */

/* Top Section */
#top-section {
  background-color: #00adb5;
  color: #eeeeee;
}

/* Navbar */
.navbar-brand {
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 10px;
}
.navbar-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Top Slider */
#top-carousel {
  background-color: #00adb5;
  color: #eeeeee;
}
#top-carousel > .container-fluid {
  padding: 2% 0% 3% 0;
}
.carousel-item {
  padding: 7% 16.1%;
  padding-top: 2%;
}
.home-carousal-image1 {
  width: 65%;
  padding: 2%;
  transform: rotate(20deg);
}
.home-carousal-image2 {
  width: 70%;
}

/* Categories Section */

#categories {
  padding: 3% 0 7% 0;
}
.categories-col {
  text-align: center;
}

.category-h1 {
  text-align: center;
  color: #393e46;
  padding-bottom: 5%;
}
.cat-btn {
  margin: 2%;
}

/* Featured product */
#featured-product {
  background-color: #393e46;
  padding: 7% 0%;
}
.featured-h1 {
  text-align: center;
  color: #eeeeee;
  padding-bottom: 5%;
}
.cat-card {
  margin: 2%;
}

/* Newsletter */

#newsletter {
  padding: 7% 15%;
}
.newsletter-button {
  text-align: center;
}
.container-fs {
  padding: 7% 15%;
}

/* About Page */
.about-top {
  background-color: #393e46;
}

.about-top > h1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: #eeeeee;
}
.about-description {
  padding-bottom: 3%;
}

.about-middle {
  text-align: center;
  padding: 3% 16.1%;
}
.avatar {
  display: block;
  width: 50%;
  margin: auto;
  border: 2px solid #00adb5;
  border-radius: 50%;
}
.col-md-4 > h5 {
  padding-bottom: 2%;
  padding-top: 5%;
}

/* Contact Page */

.contact-btn {
  background-color: #00adb5;
}
.contact-container {
  padding: 7% 16.1%;
}

/* Register Page */

.container-register {
  padding: 7% 15%;
  padding-top: 3%;
}

/* Login Page */

.container-login {
  padding: 7% 15%;
  padding-top: 3%;
}

/* Account Page */
.container-account {
  padding: 7% 15%;
}

/* Admin page */
.container-admin {
  padding: 7% 15%;
}
.container-admin > .nav-link {
  background-color: #00adb5;
}

/* Category page */
/* T-Shirts Page */

.container-t-shirt {
  padding: 5% 15% 7% 15%;
}

/* Product Page */
.reviewers {
  background-color: #eeeeee;
  padding: 2%;
}

/* Footer */

#footer {
  background-color: #00adb5;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 1.7%;
}
.footer-h3 {
  color: #eeeeee;
  font-weight: 700;
}
.footer-text {
  color: #393e46;
}
.footer-h4 {
  color: #393e46;
}
.link {
  text-decoration: underline;
}
.link:hover {
  color: #eeeeee;
  text-decoration: none;
}

.copyright {
  text-align: center;
}
.fa-heart {
  color: red;
}
.copyright-link {
  color: #00adb5;
}
.copyright-link:hover {
  color: #393e46;
}


/* Media Query */

/* Home page */

@media (max-width: 1110px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  h1 {
    text-align: center;
  }
  .home-carousal-image1 {
    width: 50%;
  }
  .home-carousal-image2 {
    width: 60%;
  }

  /* About Page */
  .avatar {
    width: 40%;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
